<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>vue study</title>
<script src="./js/vue.min.js"></script>
</head>

<body>
<div id="app">
	<p>{{message1}}</p>
	<div v-bind:style="styleObject">
		<p>这个是css</p>
	</div>
	<h1 v-if="see">Now you see me</h1>
	<template v-if="ok">
		<h1>Title</h1>
  		<p>Paragraph 1</p>
  		<p>Paragraph 2</p>
	</template>
	<div v-if="Math.random() > 0.5">
  		Now you see me
	</div>
	<div v-else>
  		Now you don't
	</div>
	</br>
	<div v-for="(value,key) in object">
		{{ key }}: {{ value }}
	</div>
	<ol>
		<li v-for="item in items">
			{{item}}
		</li>
	</ol>
	<button v-on:click="counterAdd">Add 1</button>
	<p>The button above has been clicked {{ counter }} times.</p>
	<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
  	<label for="jack">Jack</label>
  	<input type="checkbox" id="john" value="John" v-model="checkedNames">
  	<label for="john">John</label>
  	<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
  	<label for="mike">Mike</label>
  	<br>
  	<span>Checked names: {{ checkedNames }}</span>
  	</br>
  	<select v-model="selected">
  		<option v-for="option in options" v-bind:value="option.value">
  			{{option.text}}
  		</option>
  	</select>
  	<span>Selected: {{ selected }}</span>
  	
  	
</div>
<script>
var vue = new Vue({
	el:"#app",
	data:{
		message1:"Hello vue",
		counter:0,
		checkedNames:[],
		styleObject:{
			color: 'red',
			fontSize: '30px'
		},
		see:true,
		ok:true,
		object: {
		      firstName: 'John',
		      lastName: 'Doe',
		      age: 30
		    },
		items: ['a', 'b', 'c'],
		selected: 'A',
		options: [
		      { text: 'One', value: 'A' },
		      { text: 'Two', value: 'B' },
		      { text: 'Three', value: 'C' }
		    ]
		
	},
	methods:{
		counterAdd:function(){
			this.counter ++;
		}
	}
})

</script>
</body>
</html>